:root {
    --color-blue: #0E1C36;
    --color-orange: #FF9F1C;
    --color-green: #77A02C;
    --main-width: 800px;
}


.list {
    background: var(--theme);
}


.entry-content p{
    font-size: 16px;
}


.attention {
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin-bottom: 1em;
    border-left-width: 0.5em;
    border-left-style: solid;
    border-right-width: 0.5em;
    border-right-style: solid;
    border-color: var(--color-orange);
    border-radius: var(--radius);
    font-style: italic;
}

.attention p {
    margin-bottom: 0;
    font-style: italic;
}


.updatenotice {
    border-radius: var(--radius);
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin-bottom: 1em;
    border-left-width: 0.5em;
    border-left-style: solid;
    border-right-width: 0.5em;
    border-right-style: solid;
    border-color: var(--color-green);
}
.updatenotice a {
    /*color: white;*/
    font-weight: bold;
    color: var(--color-green);
}
.updatenotice p {
    margin-bottom: 0;
}

.write_me_on_twitter {
    margin-bottom: 1em;
}

.write_me_on_twitter a {
    box-shadow: 0 1px;
    cursor: pointer;
    /*color: darkgreen;*/
}

.post-content .highlight:not(table) {
    margin-bottom: 2em;
}

.post-content figure img {
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.post-content figure > figcaption {
    text-align: center;
    margin-top: 0;
}

.post-content figure > img {
    margin-bottom: 5px;
}

.post-content p {
    line-height: 1.75em;
}

:root {
    
}

.first-entry.home-info {
    margin-bottom: 5px;
    margin-top: 5px;
}

.first-entry {
    min-height: 100px;
}

.terms-tags li {
    display: inline;
}

.post-series {
    padding-top: 1em;
    position: relative;
    margin-bottom: 2em;
    padding: 0.1em 0.1em 0.1em 1.5em;
    font-style: italic;

}

.post-series ul {
    padding-left: 1em;
    list-style: none;
}

.post-series a {
    text-decoration: underline;
}

.license {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    color: var(--secondary);
}
.license a {
    text-decoration: underline;
}

.animation {
    width: 100%;
}

.buy-me-a-coffee {
    max-width: 50%;
    alignment: center;
    text-align: center;
    margin: 10px auto 30px auto;
    border-radius: var(--radius);
    border: var(--border);
    background-color: #48bf53;


}

.buy-me-a-coffee a{
    margin: 1em;
    display: block;
    height: 100%;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    line-height: 2em;
}

span.emoji {
    font-size: 24px;
    vertical-align: middle;
}

.main {
    padding-top: 0;
}

.code-snippet summary {
    cursor: pointer;
    /* font-size: 0.8em; */
    font-weight: bold
}


@media print {
    body {
        font-family: Verdana, Helvetica, sans-serif;
        max-width: 850px;
        font-size: 14px;
    }
    h1,h2,h3,h4,h4+ul,dd,dt{
        page-break-after: avoid;
    }
    dd, ul, li {
        page-break-inside: avoid;
    }

    h6, .header, .footer, .post-footer, .breadcrumbs, .post-meta, .toc, .top-link {
        display: none !important;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        pointer-events: none;
        cursor: default;
    }
}
