.list {
    background: var(--theme);
}

.entry-content p{
    font-size: 16px;
}

.post-content figure {
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.post-content figure > figcaption {
    text-align: center;
    margin-top: 0;
}

.post-content figure > img {
    margin-bottom: 5px;
}

:root {
    --main-width: 800px;
}

.first-entry.home-info {
    margin-bottom: 5px;
}

.terms-tags li {
    display: inline;
}


@media print {
    body {
        font-family: Verdana, Helvetica, sans-serif;
        max-width: 850px;
        font-size: 14px;
    }
    h1,h2,h3,h4,h4+ul,dd,dt{
        page-break-after: avoid;
    }
    dd, ul, li {
        page-break-inside: avoid;
    }

    h6, .header, .footer, .post-footer, .breadcrumbs, .post-meta, .toc, .top-link {
        display: none !important;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        pointer-events: none;
        cursor: default;
    }
}