#sp-form-211745.sp-form.sp-form-regular.sp-form-embed {
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
    max-width: 500px;
    font-family: 'Albert Sans', 'Segoe UI', -apple-system, sans-serif, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
}

.sp-form-outer {
    margin: 1em 0 1em 0;
    max-width: 500px;
    position: relative;
}

#sp-92706abe-5113-4db0-b255-c64ad75a46f7.sp-button {
    background-color: var(--color-orange);
    color: var(--content);
}

