@media(min-width:800px) {
    article.post-entry {
        display: grid;
        grid-template-columns: minmax(min-content,300px);
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "fig head"
                             "fig content"
                             "fig footer";
        background-color: var(--color-background);
    }

    header.post-entry.entry-header h2 {
        grid-area: head;
        align-self: start;
    }
    .post-entry figure.entry-cover {
        grid-area: fig;
        align-self: stretch;
        margin-bottom: 0;
        margin-right: 10px;
        width: 300px;
    }
    .post-entry figure.entry-cover img {
        width: 300px;
=    }

    .post-entry div.entry-content {
        grid-area: content;
        margin: auto 0 auto 0;
    }
    .post-entry footer.entry-footer {
        grid-area: footer;
        text-align: right;
        align-self: end;
    }

    .tag-entry .entry-cover {
        display: inherit;
    }
}

