.substack-embedded-iframe {
    background: var(--color-baby-powder);
    width: 100%;
    border: none;
}

.substack-embedded-container {
    /*border: 1px solid #EEE;*/
    /*border-radius: var(--radius);*/
    border: none;
    text-align: center;
}

.substack-embedded-container h3 {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}