:root {
    --main-width: 800px;
    --font-medium: 500;
    --font-bold: 600;
    --font-normal: 400;

    --color-baby-powder: #FEFEFA;
    --color-font: #1E1E1E;
    --color-orange: #FF9F1C;
    --color-green: #2da44e;
    --color-white: #FFFFFF;

    --color-background: rgb(var(--color-baby-powder));
}