buildDrafts: true
buildFuture: true
buildExpired: true
params:
    env: development
minify:
    disableCSS: false
    disableHTML: false
    disableJS: false
    disableJSON: false
    disableSVG: false
    disableXML: false
    minifyOutput: false
