<style>
    @font-face {
        font-family: 'Albert Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 300;
        src: url(/assets/fonts/AlbertSans-Light.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: italic;
        font-display: swap;
        font-weight: 300;
        src: url(/assets/fonts/AlbertSans-LightItalic.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url(/assets/fonts/AlbertSans-Regular.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: italic;
        font-display: swap;
        font-weight: 400;
        src: url(/assets/fonts/AlbertSans-Italic.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 500;
        src: url(/assets/fonts/AlbertSans-Medium.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: italic;
        font-display: swap;
        font-weight: 500;
        src: url(/assets/fonts/AlbertSans-MediumItalic.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 600;
        src: url(/assets/fonts/AlbertSans-SemiBold.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Albert Sans';
        font-style: italic;
        font-display: swap;
        font-weight: 600;
        src: url(/assets/fonts/AlbertSans-SemiBoldItalic.woff2) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>
<meta name="twitter:creator" content="{{ site.Params.twittercreator }}"/>
<meta name="twitter:site" content="{{ site.Params.twittersite }}"/>
<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
    heap.load("{{ site.Params.heapanalyticsid }}");
</script>
