{{ if .Params.series }}
{{ $series_name := index .Params.series 0 }}
<div class="post-series">
    <p>Check out other posts of the <b>"{{ $series_name }}"</b> series:</p>
    {{ $series_name := $series_name | urlize }}
    {{ $series := index site.Taxonomies.series $series_name }}
    <ul> 
        {{$pagetitle := .Title }}
        {{ range $series.Pages }}   
            {{ if eq $pagetitle .Title }}
                <li style="opacity: 0.75;">{{.Title}}</li>
            {{ else }}
                <li><a href="{{.Permalink}}?utm_blogseries={{ $series_name | urlize }}">{{.Title}}</a></li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{end}}

