{{ if .Params.series }}
<div class="post-series">
    <p>This post is a part of the <b>"{{$.Page.Params.series}}"</b> series.<br/>Other posts in this series:</p>
    <ul>    
        {{$pagetitle := .Title }}
        {{ range where .Site.RegularPages "Params.series" $.Page.Params.series }}
        {{ if eq $pagetitle .Title }}
            <li style="opacity: 0.75;">{{.Date.Format "Jan 02, 2006"}} — {{.Title}}</li>
        {{ else }}
            <li>{{.Date.Format "Jan 02, 2006"}} — <a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{end}}

