<div class="profiles">
    <ul>
    <li>
        <a href="https://www.linkedin.com/in/svasylenko/">
            <figure>
                <img src="/assets/img/s/l.svg" alt="LinkedIn profile" loading="lazy" width="60" height="60">
                <figcaption>LinkedIn</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="https://github.com/vasylenko/">
            <figure>
                <img src="/assets/img/s/g.svg" alt="GitHub profile" loading="lazy" width="60" height="60">
                <figcaption>GitHub</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/vasylenko/">
            <figure>
                <img src="/assets/img/s/t.svg" alt="Twitter profile" loading="lazy" width="60" height="60">
                <figcaption>Twitter</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="https://dev.to/svasylenko/">
            <figure>
                <img src="/assets/img/s/d.svg" alt="Dev profile" loading="lazy" width="60" height="60">
                <figcaption>Dev</figcaption>
            </figure>

        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/vasylenkos/">
            <figure>
                <img src="/assets/img/s/f.svg" alt="Facebook profile" loading="lazy" width="60" height="60">
                <figcaption>Facebook</figcaption>
            </figure>
        </a>
    </li>
    <li></li>
    </ul>
</div>
