<div class="social-profiles">
    <ul>
    <li>
        <a href="https://www.linkedin.com/in/svasylenko/">
            <img src="/assets/img/social/linkedin.svg" alt="LinkedIn profile" loading="lazy" width="60" height="60">
        </a>
    </li>
    <li>
        <a href="https://github.com/vasylenko/">
            <img src="/assets/img/social/github.svg" alt="GitHub profile" loading="lazy" width="60" height="60">
        </a>
    </li>
    <li>
        <a href="https://twitter.com/vasylenko/">
            <img src="/assets/img/social/twitter.svg" alt="Twitter profile" loading="lazy" width="60" height="60">
        </a>
    </li>
    <li>
        <a href="https://dev.to/svasylenko/">
            <img src="/assets/img/social/dev_to.svg" alt="Dev profile" loading="lazy" width="60" height="60">
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/vasylenkos/">
            <img src="/assets/img/social/facebook.svg" alt="Facebook profile" loading="lazy" width="60" height="60">
        </a>
    </li>
    <li></li>
    </ul>
</div>
