name: Build Hugo Docker Image
run-name: ${{ github.workflow }} - ${{ github.event_name }}
on:
  push:
    paths:
      - 'hugo-runtime.dockerfile'
      - 'compose.yaml'
      - '.env'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Authenticate to GitHub Container Registry
        run: echo "${{ github.token }}" | docker login ghcr.io -u $ --password-stdin
      - name: Read Hugo version
        id: env
        run: echo "HUGO_VERSION=$(grep HUGO_VERSION .env | cut -d= -f2)" >> "$GITHUB_OUTPUT"
      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: hugo-runtime.dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: HUGO_VERSION=${{ steps.env.outputs.HUGO_VERSION }}
          tags: ghcr.io/vasylenko/hugo-runtime:${{ steps.env.outputs.HUGO_VERSION }}
