name: Deploy to Preview
run-name: ${{ github.workflow }} - ${{ github.event_name }} - ${{ github.ref_name }}
on:
  pull_request:
  workflow_dispatch:

env:
  ARTIFACT: deployment-artifact
  CF_PREVIEW_PROJECT_NAME: devdosvid-preview

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build Hugo Website
        uses: ./.github/actions/build-hugo-website
        with:
          env: preview
          build-artifact: ${{ env.ARTIFACT }}

      - name: Deploy to CloudFlare
        uses: cloudflare/wrangler-action@v3
        id: deploy_to_cloudflare
        with:
          apiToken: ${{ secrets.CLOUDFLARE_GH_PAGES_ACTION_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.ARTIFACT }} --project-name=${{ env.CF_PREVIEW_PROJECT_NAME }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Print deployment url's
        env:
          DEPLOYMENT_URL: ${{ steps.deploy_to_cloudflare.outputs.deployment-url }}
          DEPLOYMENT_ALIAS_URL: ${{ steps.deploy_to_cloudflare.outputs.pages-deployment-alias-url }}
        run: |
          echo $DEPLOYMENT_URL
          echo $DEPLOYMENT_ALIAS_URL
